<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark" style="background-image: url('/media/icon/img.png'); background-size: cover; background-repeat: no-repeat;">
    <a class="navbar-brand" href="/">
        <img src="/media/icon/icon_logo.png"/>
        <a class="navbar-brand" href="/">Барселли</a>
    </a>

    <div class="container">


        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                aria-controls="offcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

            </div>


            <div class="offcanvas-body">




                <ul class="navbar-nav flex-grow-1 justify-content-between" >
                    {% if user.is_authenticated   %}
                    <li class="nav-item"><a class="btn btn-outline-light ml-2" href="/table/">Забронировать столик</a></li>
                    <li class="nav-item"><a class="btn btn-outline-light ml-1" href="{% url 'users:profile'  %}">Профиль</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="btn btn-outline-light ml-2" href="{% url 'booking:team_list' %}">О ресторане</a></li>
                    {% if user.is_authenticated and user.is_superuser %}
                    <li class="nav-item"><a class="btn btn-outline-warning ml-2" href="{% url 'booking:services_create' %}">Добавить новую
                        услугу</a></li>
                    <li class="nav-item"><a class="btn btn-outline-warning ml-2" href="{% url 'booking:table_create' %}">Добавить новый
                        стол</a></li>
                    <li class="nav-item"><a class="btn btn-outline-warning ml-2" href="{% url 'booking:admin_messages' %}">Проверить сообщения</a></li>

                    <li class="nav-item"><a class="btn btn-outline-warning ml-2" href="/admin/">Админка</a></li>

                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="btn btn-outline-light ml-2" href="{% url 'users:logout' %}">Выход</a></li>
                    {% else %}
                    <li class="nav-item"><a class="btn btn-outline-success ml-2" href="{% url 'users:login' %}">Вход</a></li>
                    <li class="nav-item"><a class="btn btn-outline-warning ml-2" href="{% url 'users:register' %}">Зарегистрироваться</a>
                    </li>


                    {% endif %}


                </ul>
            </div >

        </div>
    </div>
</nav>
